 
 .header-form button {
    width: 100px;
    height: 35px;
    background-color: rgb(0, 158, 0);
    color: var(--clr-white);
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-family: Arial, sans-serif;
  }
 .header-form button:hover {
    border: 1px solid rgb(0, 158, 0);
    color: rgb(0, 158, 0);
    background-color: var(--clr-primary)
  }
 .header-form button:active{
    background-color: rgb(0, 158, 0);
  }
 .header-form{
  padding: 20px;
    margin-bottom: 40px;
    display: flex;
    align-items: baseline;
    /* margin:0 10px; */
    position: relative;
  }
 .header-form h2 {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }