@import url("https://fonts.googleapis.com/css2?family=Bai+Jamjuree:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");
body{
 background-image: url("https://data.designervn.net/2019/09/9676_3c1b0f70d986fd4e324cb43331b33b81.png");
 background-repeat: no-repeat;
 background-size: cover;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --background-button:linear-gradient(135deg, #3b9400, #14cc14);
  --clr-primary: #29221d;
  --clr-select:rgb(45, 111, 255);
  --clr-border-select:rgb(109, 105, 105);
  --clr-primar-light: #473b33;
  --clr-secondary: #1e1611;
  --clr-white: #fff;
  --clr-black: #000;
  --clr-pumpkin: #fe6c00;
  --clr-silver: #a8a5a6;
  --clr-silver-v1: #bdbabb;
  --clr-scarlet: #fe1e00;
  --clr-scarlet-v1: rgb(254, 30, 0, 0.79);
  --clr-green: #00fe93;
  --clr-yellow: #fec80a;
  --clr-jet: #302924;
  --clr-peach: #ffc397;
  --font-family-bai: "Bai Jamjuree", sans-serif;
  --transition-default: all 300ms ease-in-out;
}
select{
  font-weight: 500;
  background-color: var(--clr-primary);
  color: var(--clr-white);
 }
 input[type="file"]{
  position: absolute;

  visibility: hidden;
 }
 input[type="text"],input[type="date"], input[type="email"],input[type="number"],input[type="password"],select {
   text-align: center; 
   width: 100%;
   padding: 8px;
   margin-top: 5px;
   margin-bottom: 5px;
   height: 40px;
   box-sizing: border-box;
   border: 1px solid #ddd;
   border-radius: 4px;
   box-sizing: border-box;
   /* font-family: Arial, sans-serif; */
   transition: border-color 0.3s ease;
 }
 
 input[type="text"]:focus,input[type="number"]:focus {
   border-color: #007bff;
   outline: none;
   box-shadow: 0 0 5px rgba(0, 123, 255, 0.2);
 }
.error{
  overflow-wrap: break-word;
  width: 100%;
  color: red;
  height: 20px;
  /* overflow: hidden; */
}
.open{
  max-height: 2000px !important;
  opacity: 1 !important;
  transition: 0.3s ease-in-out;
}
body {
  font-family: var(--font-family-bai);
}

ul {
  list-style-type: none;
}
a {
  color: unset;
  text-decoration: none;
  color: var(--clr-white);
}
button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.img-fit-cover img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.text-white {
  color: var(--clr-white);
}
.text-silver-v1 {
  color: var(--clr-silver-v1);
}
.text-scarlet {
  color: var(--clr-scarlet);
}
.text-green {
  color: var(--clr-green);
}
.bg-jet {
  background: var(--clr-jet);
}

.text-sm {
  font-size: 14px;
}

.app {
  position: relative;
  overflow-x: hidden;
  /* width: 100%; */
  display: flex;
  min-height: 100vh;
}

/* commons */
.lg-value {
  font-size: 24px;
  font-weight: 600;
}
.grid-common {
  background-color: var(--clr-primary);
  border-radius: 12px;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 8px 24px;
  color: var(--clr-white);
  padding: 24px;
}
.grid-c-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 16px;
}
.grid-c-title-text {
  font-weight: 400;
  color: var(--clr-silver);
}
.grid-c-title-icon img {
  width: 24px;
}

@media screen and (max-width: 1400px) {
  .grid-common {
    padding: 16px;
  }
  body {
    font-size: 14px !important;
  }
}
