


/* Overlay che toàn bộ trang */
.fancybox-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: flex-start;
    /* Căn lên đầu trang khi nội dung cuộn */
    z-index: 1000 !important;
    overflow-y: auto;
        padding: 0 20px;
    /* Cho phép cuộn trang */
}



