
.left .topleft{
    margin-bottom: 20px;
    display: flex;
}
.left .topleft img{
    width: 90%;
}
.left .listmedia{
    margin-bottom: 20px;
    padding: 0;
    display: flex;
    align-items: center;
}
.left .listmedia>*{
    margin-right: 20px;
}
.left .hotline{
    letter-spacing: 1px;
    min-width: fit-content;
    width: 250px;
    padding:12px 15px;
    font-size: 14px;
    background-color: rgb(36, 36, 36);
    text-align: center;
    border-radius: 10px 0px;
}
.left .hotline a{
    color: white;
    font-weight: bold;
}

@media (max-width:600px){
    .left{
        display: flex;
        flex-direction: column;
    }
    .left .topleft{
        order: 4;
    }
    .left .topleft > .logo-footer{
        
    }
    .left .topleft > *{
        margin-right: 20px;
    }
    .left .topleft  img{
        width: 100%;
    }
    .left .media{
        order: 1;
    }
    .left .hotline{
        margin-bottom: 20px;
        order: 2;
    }
    .left p{
        display: none;
        order: 3;
    }
    .left .title,.left p{
        font-size: medium;
    }
}